.cart-dropdown {
  position: absolute;
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  background-color: #b8d8bb;
  flex-direction: column;
  right: 0;
  top: 4rem;
  margin-right: 1rem;
  color: black;
  height: auto;
  padding: 1rem;
  z-index: 999;
  gap: 1rem;
}
.cart-dropdown a {
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 6px;
  text-align: center;
  color: black;
  background-color: rgb(144, 179, 139);
  padding-bottom: 0.2rem;
}
.cart-dropdown img {
  height: 100%;
  width: 6rem;
  object-fit: cover;
}
.cart-item {
  border-style: solid;
  border-color: #879f89;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  background-color: #e6f3e7;
  border-width: 0.15rem;
  position: relative;
}
.add {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0rem 0.5rem 0.5rem 0rem;
}
.cartPrice {
  position: absolute;
  right: 0;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.cart-item img {
  padding: 0.5rem;
}
.cart-item button {
  font-family: "Roboto", sans-serif;
  display: flex;
  border-style: none;
  padding: 0.3rem 0.4rem;
  font-weight: 600;
  height: fit-content;
}
.addBtn,
.decreaseBtn {
  display: flex;
  align-self: flex-end;
  width: 2rem;
  border-radius: 4px;
  background-color: #9bb897;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(95, 95, 95, 0.664);
}

.removeBtn {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  font-size: 1.3rem;
}
.cartPrice {
  align-self: flex-end;
}
.quantityCart {
  padding: 0rem 0.5rem;
  text-align: center;
  align-self: flex-end;
}
.cart-total {
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
}
