#mainContact {
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(200, 212, 197);
  font-family: "Darker Grotesque", sans-serif;
  color: rgb(52, 61, 51);
}
#mainContact h2 {
  text-align: center;
}
#mainContact p {
  font-weight: 500;
}
#mainContact span {
  font-weight: 700;
}
#mainContact h4 {
  text-decoration: underline;
}
#mainContact li {
  font-weight: 500;
}
#contactPara {
  text-align: center;
  padding: 0rem 3rem 1rem 3rem;
}
@media screen and (min-width: 768px) {
  #mainContact h2 {
    font-size: 2rem;
  }
  #mainContact h4 {
    font-size: 1.5rem;
  }
  #mainContact li {
    font-size: 1.4rem;
  }
  #contactInfo p,
  #contactPara {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 945px) {
}
