#productView {
  margin: 1rem;
  padding: 1rem;

  height: auto;
  font-family: "Darker Grotesque", sans-serif;
  background-color: #d1d1d1;
}
#productLabel {
  text-align: center;
  text-decoration: underline 4px;
  text-underline-offset: 0.5rem;
  text-decoration-color: #48824e;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
#descriptionContainer {
  font-size: 1.1rem;
  font-weight: 500;
}
#descriptionContainer span {
  font-weight: 700;
}
#descriptionContainer h4 {
  font-size: 1.2rem;
}
#productWrapper {
  align-items: center;
}
#imageContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
#imageContainer img {
  padding: 0rem 1rem;
  object-fit: cover;
  aspect-ratio: 1/1;
}
#descriptionContainer button {
  border-style: none;
  background-color: #aaa799;
  color: rgb(0, 0, 0);
  padding: 0.2rem 0.2rem;
  border-radius: 6px;
  margin: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  box-shadow: 2px 2px 4px rgba(95, 95, 95, 0.664);
}

#reviewWrap {
  margin-top: 3rem;
}
#reviewWrap h3 {
  font-size: 1.5rem;
  text-decoration: underline 4px;
  text-underline-offset: 0.5rem;
  text-decoration-color: #48824e;
  padding-bottom: 1rem;
  text-align: center;
}
#reviews {
  padding-top: 2rem;

  align-items: center;
  display: flex;
  flex-direction: column;
}

#reviewsContainer {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}
.reviewBox {
  width: 8rem;
  height: fit-content;
}
@media screen and (min-width: 550px) {
  #reviews {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  #productView {
    margin: 1rem 2rem;
  }
  #productLabel {
    text-align: center;
    font-size: 2rem;
  }
  #productWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imageContainer {
    display: flex;
    width: 50%;
    height: 25rem;
  }
  #descriptionContainer {
    width: 50%;
    padding: 1rem;
    align-self: flex-end;
  }
  #descriptionContainer h4 {
    font-size: 1.7rem;
  }
  #descriptionContainer p {
    font-size: 1.5rem;
  }
  #reviewsContainer {
    width: 50%;
    justify-content: right;
  }
}
@media screen and (min-width: 768px) {
  #descriptionContainer {
    width: 25rem;
  }

  #productView {
    justify-content: center;
    margin: 1rem 3rem;
  }
  #reviewWrap h3 {
    font-size: 2rem;
  }
  #reviews {
    margin: 0rem 1rem;
    display: flex;
    justify-content: space-around;
  }
  #reviewsContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
    justify-content: right;
  }
  .reviewBox {
    width: 13rem;
  }
  .reviewBox h4 {
    font-size: 1.5rem;
  }
  .reviewBox p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 945px) {
  #productView {
    margin: 1rem 4rem;
  }
  .reviewBox {
    width: 30%;
  }
}
