#productView {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
  font-family: "Darker Grotesque", sans-serif;
  background-color: #d1d1d1;
}
#productLabel {
  text-align: center;
  text-decoration: underline 4px;
  text-underline-offset: 0.5rem;
  text-decoration-color: #48824e;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
#descriptionContainer {
  font-size: 1.1rem;
  font-weight: 500;
}
#descriptionContainer span {
  font-weight: 700;
}
#descriptionContainer h4 {
  font-size: 1.2rem;
}
#imageContainer {
  width: 100%;
}
#imageContainer img {
  padding: 0rem 1rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#descriptionContainer button {
  border-style: none;
  background-color: #aaa799;
  color: rgb(0, 0, 0);
  padding: 0rem 0.2rem;
  margin: 0.4rem;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 2px 2px 4px rgba(95, 95, 95, 0.664);
}
#reviewForm {
  width: 50%;
  background-color: #aaa590;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 6px;
}
#reviewForm label {
  font-size: 1.3rem;
  font-weight: 600;
}
#inputName {
  width: 100%;
  font-size: 1rem;
  border-radius: 6px;
  border-style: none;
  font-family: "Darker Grotesque", sans-serif;
}
#textarea {
  width: 100%;
  border-style: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Darker Grotesque", sans-serif;
}
#submitBtn {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  font-weight: 600;
  border-radius: 6px;
  border-style: none;
  font-family: "Darker Grotesque", sans-serif;
}
@media screen and (min-width: 550px) {
  #productView {
    justify-content: center;
  }
  #productWrapper {
    display: flex;
    justify-content: space-around;
  }
  #productLabel {
    text-align: center;
  }
  #imageContainer {
    display: flex;
    width: 50%;
  }
  #descriptionContainer {
    width: 50%;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 945px) {
}
